body {
    background: #f4f6f9;
    font-family: Arial;
}

.box {
    width: 350px;
    margin: 100px auto;
    background: #fff;
    padding: 25px;
    border-radius: 8px;
}

h2 {
    text-align: center;
    margin-bottom: 15px;
}

label {
    display: block;
    margin-top: 10px;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
}

button {
    width: 100%;
    margin-top: 15px;
    padding: 10px;
    background: #0077b6;
    color: white;
    border: none;
}

.error {
    color: red;
    text-align: center;
}

.success {
    color: green;
    text-align: center;
}

a {
    display: block;
    text-align: center;
    margin-top: 10px;
}
