body {
    font-family: Arial;
    background: #f5f6fa;
    margin: 0;
}

.navbar {
    background: #0077b6;
    color: white;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
}

.navbar a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
}

.profile-container {
    max-width: 1000px;
    margin: 40px auto;
    display: flex;
    gap: 30px;
}

.profile-card {
    width: 250px;
    background: white;
    padding: 25px;
    text-align: center;
    border-radius: 10px;
}

.profile-card img {
    width: 100px;
    margin-bottom: 10px;
}

.profile-details {
    flex: 1;
    background: white;
    padding: 30px;
    border-radius: 10px;
}

.profile-details label {
    font-weight: bold;
}

.profile-details input,
.profile-details select,
.profile-details textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0 20px;
}

.profile-details button {
    background: #0077b6;
    color: white;
    padding: 12px;
    border: none;
    width: 100%;
    cursor: pointer;
}
.success-msg {
    background: #d1f7d6;
    color: #06d637;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 6px;
    text-align: center;
    font-weight: bold;
}
.s-msg {
    color: #06d637;
}
